modules = ["python-3.12"]
run = ["bash", "start.sh"]

[nix]
channel = "stable-24_05"

[deployment]
build = [
  "pip install --no-cache-dir gunicorn && pip install -r requirements.txt && chmod +x start.sh",
]
run = ["bash", "./start.sh"]

[[ports]]
localPort = 8080
externalPort = 80
