.section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.appointments {
    background-color: #e9f7e9;
    border: 1px solid #a2d4a2;
}
.responses {
    background-color: #fff9e6;
    border: 1px solid #f0d78c;
}
.logs {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.log {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.timestamp {
    color: #666;
    font-size: 0.9em;
}
.log-text {
    margin: 5px 0 0 0;
}

.fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.fixed-buttons .btn {
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed-buttons .btn i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .fixed-buttons {
        bottom: 10px;
        right: 10px;
        flex-direction: row; /* Yatay dizilim */
        gap: 10px; /* Butonlar arasında boşluk */
    }

    .fixed-buttons .btn {
        font-size: 12px; /* Daha küçük font boyutu */
        width: auto; /* Buton genişliği içeriğe göre ayarlanır */
        padding: 5px 10px; /* Buton iç boşluğu küçültülür */
    }
}